* {
  margin: 0;
  padding: 0;
}
.kuwan_1 {
  width: 100%;
  height: 100px;
  margin-bottom: 2px;
  background-color: #fff;
}
.kuwan_1 p {
  height: 50px;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
}
.kuwan_1 ul {
  width: 400px;
  height: 50px;
  margin: 0 auto;
  list-style: none;
  margin-top: 20px ;
}
.kuwan_1 ul li {
  width: 80px;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
  margin-left: 25px;
  margin-right: 25px;
  color: #5c5959;
}
.kuwan_1 ul li a {
  text-decoration: none;
  color: #5c5959;
}
.kuwan_1 ul .li_1 {
  border-bottom: 2px #e05353 solid;
}
.kuwan_1 ul .li_1 a {
  color: #e05353;
}
.category {
  width: 100%;
  background-color: #F7F7F7;
  padding-top: 20px;
  overflow: hidden;
}
.category .plnr {
  width: 1000px;
  margin: 20px auto;
  overflow: hidden;
}
.category .plnr ul {
  overflow: hidden;
  list-style: none;
}
.category .plnr ul li {
  position: relative;
  width: 1000px;
  overflow: hidden;
  background-color: #fff;
}
.category .plnr ul li .fangkuai {
  width: 8px;
  height: 25px;
  background-color: #e05151;
  position: absolute;
}
.category .plnr ul li p {
  font-size: 18px;
  text-indent: 20px;
  line-height: 50px;
  margin-bottom: 10px;
  overflow: hidden;
}
.category .plnr ul li .shenghuo {
  width: 1000px;
  overflow: hidden;
  border-bottom: 1px #ccc dashed;
}
.category .plnr ul li .shenghuo a {
  float: left;
  width: 140px;
  height: 150px;
  margin-left: 20px;
  margin-top: 10px;
  text-decoration: none;
}
.category .plnr ul li .shenghuo a img {
  position: relative;
  left: 25%;
}
.category .plnr ul li .shenghuo a p {
  font-size: 14px;
  text-align: center;
  color: #666464;
}
.category .plnr ul li .dianshi1 {
  margin-top: 20px;
}
.category .plnr ul li .dianshi1 p {
  float: left;
  width: 150px;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  text-align: center;
  color: #666464;
}
