*{
    margin: 0;
    padding: 0;
}

.stern {
  width: 1920px;
  height: 500px;
  margin: 42px auto;
  background-color: #505050;
  padding-top: 30px;
  position: relative;
  margin: 0px 0px;
}
.stern img {
  width: 100px;
  margin-left: 50px;
  float: left;
  overflow: hidden;
  
}
.stern .ku {
  position: absolute;
  top: 80px;
  left: 160px;
}
.stern .ku p {
  color: #ccc;
  font-size: 14px;
  height: 25px;
}
.stern .img1 {
  width: 100px;
  margin-left: 10px;
  float: left;
}
.stern ul {
  margin-left: 40px;
  float: left;
  width: 160px;
  height: 200px;
  list-style: none;
  position: relative;
}
.stern ul p {
  font-size: 20px;
  color: #fff;
  padding-bottom: 20px;
}
.stern ul li {
  color: #b4b0b0;
  line-height: 25px;
  height: 25px;
  width: 200px;
}
/* --------------友情链接修改----------- */
#friendship{
  display: flex;
  flex-wrap: wrap;
  width: 180px;
}
#friendship p{
  width: 150px;
  text-align: center;
}
#friendship li{
  width: 80px;
  margin-right: 10px;
}
.stern ul:nth-of-type(1){
  margin-left: 100px;
}
.stern .aaa{
  text-decoration: none;
  color: #b4b0b0;
  z-index: 9000;
}