*{
    margin: 0;
    padding: 0;
}
.box{
    width: 100%;
    position: relative;
}

.toubu{
    width: 1000px;
    height: 100px;
    background: url(../img/logonew.png) no-repeat;
    margin: 0px 330px;
    padding: 0 250px;
    position: relative;
   
}
.toubu a{
    text-decoration: none;
    margin: 0 20px;
    font-size: 40px;
    margin-left: 75px;
    font-size: 30px;
    line-height: 150px;
    color: black;
}
.toubu a:hover{
    color: red;
    z-index: 999;
}
.deng,.zhu{
    width: 40px;
    height: 30px;
    border: 1px solid red;
    margin: 10px 10px;
}
.deng a,.zhu a{
    text-decoration: none;
    color: red;
}
.jing{
    position: absolute;
    top: 51px;
    left: 1700px;
}
.jing_j{
    width: 25px;
    height: 25px;
    background: url(./img/search.png) no-repeat;
    position: absolute;
    top: 64px;
    left: 1652px;
}
.imgs{
    margin: 20px 20px;
}
