* {
  margin: 0;
  padding: 0;
}
/* <!-- 头部 -->*/
.head {
  margin: 0 auto;
  width: 1250px;
  height: 100px;
  border-bottom: 2px solid rgb(207, 194, 194);
}
.head img {
  width: 100px;
  height: 50px;
  float: left;
  padding-left: 50px;
  padding-top: 20px;
}
.head ul {
  list-style: none;
}
.head ul li {
  float: left;
  line-height: 100px;
  margin-left: 80px;
}
.head ul li:hover {
  color: #f0743b;
}
.head ul li a {
  text-decoration: none;
  color: #505050;
}
.seek {
  width: 400px;
  height: 50px;
  float: right;
  margin-right: 100px;
}
.seek input {
  width: 200px;
  height: 26px;
  margin-top: 37px;
  border: 1px #ccc solid;
  outline: none;
  background: url(图片/css/img/search.png) no-repeat 170px 1px;
}
.seek button {
  width: 60px;
  height: 26px;
  background-color: #fff;
  color: #ec9147;
  border: 1px #ec9147 solid;
}
/* <!-- 尾部 -->*/
.stern {
  width: 1250px;
  height: 500px;
  margin: 0 auto;
  background-color: #505050;
  padding-top: 30px;
  position: relative;
}
.stern img {
  width: 100px;
  margin-left: 50px;
  float: left;
  overflow: hidden;
}
.stern .ku {
  position: absolute;
  top: 80px;
  left: 160px;
}
.stern .ku p {
  color: #ccc;
  font-size: 14px;
  height: 25px;
}
.stern .img1 {
  width: 100px;
  margin-left: 10px;
  float: left;
}
.stern ul {
  margin-left: 40px;
  float: left;
  width: 160px;
  height: 200px;
  list-style: none;
  position: relative;
}
.stern ul p {
  font-size: 20px;
  color: #fff;
  padding-bottom: 20px;
}
.stern ul li {
  color: #b4b0b0;
  line-height: 25px;
  height: 25px;
  width: 200px;
}
/* --------------友情链接修改----------- */
#friendship{
  display: flex;
  flex-wrap: wrap;
  width: 180px;
}
#friendship p{
  width: 150px;
  text-align: center;
}
#friendship li{
  width: 80px;
  margin-right: 10px;
}
.stern ul:nth-of-type(1){
  margin-left: 100px;
}
/* #friendship li:nth-of-type(1){
  width: 300px;
} */
/* ---------------回到顶部------------------------ */

.backTop {
  background: url(/图片/css/img/back.png) no-repeat #e8e8e8 center center;
}
.backTop {
  display: block;
  transition: background 0.1s ease-in;
  position: fixed;
  line-height: 999;
  overflow: hidden;
  width: 50px;
  height: 50px;
  border-radius: 8px;
}